@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <p>Hola me llamo Cintia Yllanes</p>
    <div class="container">
        <img src="~/img/foto cin IA.png" alt="Foto Cin" class="centered-image" width="250px">
    </div>
</div>
